/* off-screen-menu */
.off-screen-menu {
background-color: #80808060;
 height: 35vh;
 width: 150px;
 max-width: 450px;
 position: fixed;
 top: 0;
 right: -450px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 font-size: 3rem;
 transition: .3s ease;
border-radius: 20px;
  font-family: arial;
}
.off-screen-menu.active {
right: 0;
}
nav {
padding: 1rem;
display: flex;
background-color:  #646D7E;
border-radius: 5px;
height: 5vh;
box-shadow: #646D7E;

}
li{
list-style: none;
display: inline-block;
}
li a{
color: rgb(21, 42, 59);
font-size: 18px;
font-weight: bold;
margin-right: 5px;
}
.ham-menu{
height: 40px;
width: 40px;
margin-left: auto;
position: relative;
}
.ham-menu span{
height: 5px;
width: 100%;
background-color: #151B54;
border-radius: 25px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: .3s ease;
}
.ham-menu span:nth-child(1){
top: 25%;
}
.ham-menu span:nth-child(3){
top: 75%;
}

.ham-menu.active span:nth-child(1){
top: 50%;
transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
opacity: 0;
}
.ham-menu.active span:nth-child(3){
top: 50%;
transform: translate(-50%, 50%) rotate(-45deg);

}
.no-underline{
text-decoration: none;
}
.img1{

  padding: 0;
  margin: 0;
  width: 100%;
  height: 80vh;
  display: block;

}



.logo{
margin-right: auto;
position: absolute;
top: 0;

display: flex;
flex-direction: column;
justify-content: space-between;
width: 95px;
height: 80px;


}


body{
padding: 0;
margin: 0;
}
    
.footer{
  position: bottom;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
height: 11vh;
  background-color: #00000035;
  text-align: center;
  margin: 0;
  padding: 0;
}
    .social-icons {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      gap: 5;
        height: 15px;
    }
    .social-icons li {
      display: inline-block;
      margin-bottom: 4px;
    }
    .social-icons a {
      text-decoration: none;
      color: rgb(14, 1, 1);
      font-size: 30px;
      transition: color 0.3s ease;

 
    }
    .social-icons a:hover {
      color: #1da1f2; /* Example hover color */
    }
    .learnmore{
      position: absolute;
      top: 25%;
      left: 41%;
    }
    .textmore{
font-size: 3rem;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
color:#151B54;
    }
    .textfoot p{
      margin-top: 29px;
    }
